In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from copy import deepcopy
df_conf = pd.read_csv("sinan_conf.csv", index_col="Unnamed: 0")
df_conf

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (3,11,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,NDUPLIC_N,DT_INIC_TR,CLA_TIPO_N,TRATAMENTO,SITUA_ENCE,NU_NOTIFIC,idade2,faixaetaria,ano,mes
1,B659,2013-01-02,1947-09-30,2013,2012-12-27,4065.0,M,NaN,316400,316400,NaN,NaN,NaN,NaN,NaN,NaN,65.0,65a69,2013,1
2,B659,2013-01-02,1982-11-10,2013,2012-11-23,4030.0,M,6.0,311760,311760,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30a34,2013,1
3,B659,2013-01-02,1962-08-23,2013,2012-12-20,4050.0,F,NaN,311940,311940,NaN,NaN,NaN,NaN,NaN,NaN,50.0,50a54,2013,1
4,B659,2013-01-02,1979-08-03,2013,2012-12-25,4033.0,M,NaN,313090,313090,NaN,NaN,NaN,NaN,NaN,NaN,33.0,30a34,2013,1
5,B659,2013-01-03,NaN,2013,2012-12-04,4009.0,M,1.0,310620,310620,NaN,NaN,NaN,NaN,NaN,NaN,9.0,5a9,2013,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58830,A169,2021-01-01,NaN,2021,2020-12-31,4046.0,M,9.0,311860,310620,NaN,18628.0,NaN,1,NaN,NaN,46.0,45a49,2021,1
58831,A169,2021-01-05,NaN,2021,2020-12-31,4041.0,M,2.0,313290,313290,NaN,18633.0,NaN,1,NaN,NaN,41.0,40a44,2021,1
58832,A169,2021-01-07,NaN,2021,2020-12-31,4058.0,F,9.0,311860,310620,NaN,18634.0,NaN,1,NaN,NaN,58.0,55a59,2021,1
58833,A16.,2020-09-16,NaN,2020,2020-09-16,NaN,M,1.0,314430,320360,.,NaN,NaN,.,.,NaN,NaN,NaN,2020,9
58834,A16.,2020-07-08,NaN,2020,2020-07-08,NaN,M,3.0,314430,320360,.,NaN,NaN,1,.,NaN,NaN,NaN,2020,7

In [2]:
df_conf[df_conf['ano'] < 2013]

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,NDUPLIC_N,DT_INIC_TR,CLA_TIPO_N,TRATAMENTO,SITUA_ENCE,NU_NOTIFIC,idade2,faixaetaria,ano,mes
23767,A169,2001-02-01,NaN,2001,2001-02-01,4022.0,M,NaN,310620,310620,0,11354.0,NaN,1,NaN,NaN,22.0,20a24,2001,2
23768,A169,2001-01-26,NaN,2001,2001-01-26,4035.0,M,NaN,310620,310620,0,11348.0,NaN,5,2,NaN,35.0,35a39,2001,1
23769,A169,2001-02-09,NaN,2001,2001-02-09,4030.0,M,NaN,310620,310620,0,11362.0,NaN,1,2,NaN,30.0,30a34,2001,2
23770,A169,2001-02-12,NaN,2001,2001-01-03,4053.0,M,1.0,310620,310620,0,11326.0,NaN,1,2,NaN,53.0,50a54,2001,2
23771,A169,2001-02-02,NaN,2001,2001-01-01,4041.0,F,NaN,310620,310620,0,11326.0,NaN,1,2,NaN,41.0,40a44,2001,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25157,A169,2001-02-13,NaN,2001,2001-02-13,4040.0,M,9.0,314055,292740,0,11366.0,NaN,4,1,NaN,40.0,40a44,2001,2
25158,A169,2001-03-13,NaN,2001,2001-03-13,4030.0,M,NaN,314345,293330,0,11397.0,NaN,4,1,NaN,30.0,30a34,2001,3
25159,A169,2001-08-21,NaN,2001,2001-08-21,4002.0,F,10.0,314345,293330,0,11555.0,NaN,4,1,NaN,2.0,0a4,2001,8
25160,A169,2001-07-31,NaN,2001,2001-07-31,4064.0,M,NaN,314055,293330,0,11534.0,NaN,4,1,NaN,64.0,60a64,2001,7
25161,A169,2001-09-10,NaN,2001,2001-09-10,4065.0,M,NaN,314055,293330,0,11575.0,NaN,4,2,NaN,65.0,65a69,2001,9

In [3]:
df_sus = pd.read_csv("sinan_sus.csv")

df_sus['ID_AGRAVO'].unique()

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

array(['B571', 'A90', 'A959', 'A010', 'T659', 'B550', 'A279', 'B54',
       'Y09'], dtype=object)

In [4]:
query = "   (ID_AGRAVO == 'B659')" + \
        "or (ID_AGRAVO == 'A169' and TRATAMENTO == '1' and SITUA_ENCE != '6')" + \
        "or (ID_AGRAVO == 'B551' and CLA_TIPO_N == '1')"

df_conf = df_conf.query(query)
df_conf

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,NDUPLIC_N,DT_INIC_TR,CLA_TIPO_N,TRATAMENTO,SITUA_ENCE,NU_NOTIFIC,idade2,faixaetaria,ano,mes
1,B659,2013-01-02,1947-09-30,2013,2012-12-27,4065.0,M,NaN,316400,316400,NaN,NaN,NaN,NaN,NaN,NaN,65.0,65a69,2013,1
2,B659,2013-01-02,1982-11-10,2013,2012-11-23,4030.0,M,6.0,311760,311760,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30a34,2013,1
3,B659,2013-01-02,1962-08-23,2013,2012-12-20,4050.0,F,NaN,311940,311940,NaN,NaN,NaN,NaN,NaN,NaN,50.0,50a54,2013,1
4,B659,2013-01-02,1979-08-03,2013,2012-12-25,4033.0,M,NaN,313090,313090,NaN,NaN,NaN,NaN,NaN,NaN,33.0,30a34,2013,1
5,B659,2013-01-03,NaN,2013,2012-12-04,4009.0,M,1.0,310620,310620,NaN,NaN,NaN,NaN,NaN,NaN,9.0,5a9,2013,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58828,A169,2020-12-31,NaN,2020,2020-12-31,4038.0,M,NaN,313250,313250,NaN,18627.0,NaN,1,NaN,NaN,38.0,35a39,2020,12
58829,A169,2021-01-01,NaN,2021,2020-12-31,4049.0,M,NaN,310620,310620,NaN,18627.0,NaN,1,NaN,NaN,49.0,45a49,2021,1
58830,A169,2021-01-01,NaN,2021,2020-12-31,4046.0,M,9.0,311860,310620,NaN,18628.0,NaN,1,NaN,NaN,46.0,45a49,2021,1
58831,A169,2021-01-05,NaN,2021,2020-12-31,4041.0,M,2.0,313290,313290,NaN,18633.0,NaN,1,NaN,NaN,41.0,40a44,2021,1
58832,A169,2021-01-07,NaN,2021,2020-12-31,4058.0,F,9.0,311860,310620,NaN,18634.0,NaN,1,NaN,NaN,58.0,55a59,2021,1

In [5]:
def count_duplicates(df, agravos, dupli_cols):
    for agravo in agravos:
        aux_df = df.query("ID_AGRAVO == @agravo")
        
        df_pre = aux_df[aux_df['ano'] < 2019]
        df_pos = aux_df[aux_df['ano'] == 2019]
        
        print(agravo)
        
        df_pre.fillna(0, inplace=True)
        print(f"numero de observaÃ§Ãµes prÃ©: {len(df_pre)}")
        print(Counter(df_pre.groupby(dupli_cols).size()))
        
        df_pos.fillna(0, inplace=True)
        print(f"numero de observaÃ§Ãµes pÃ³s: {len(df_pos)}")
        print(Counter(df_pos.groupby(dupli_cols).size()))
        
def process_duplicates(df, cols_por_agravo):
    aux_df = pd.DataFrame(columns = df.columns)

    df_list = []
    for agravo, dupli_cols in cols_por_agravo.items():
        count_duplicates(df, agravo, dupli_cols)
    
        if len(agravo) > 1:
            aux = df[df['ID_AGRAVO'].isin(agravo)].drop_duplicates(dupli_cols)
            df_list.append(aux.copy(deep=True))
        else:
            aux = df[df['ID_AGRAVO'] == agravo[0]].drop_duplicates(dupli_cols)
            df_list.append(aux.copy(deep=True))

    return aux_df.append(df_list, ignore_index=True)

In [6]:
cols_por_agravo = {
    ('B551',): ['ID_MN_RESI', 'CS_SEXO', 'NU_IDADE_N', 'DT_NOTIFIC', 'DT_INIC_TR'],
    ('B659',): ['ID_MN_RESI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'DT_SIN_PRI', 'DT_NOTIFIC'],
    ('A169',): ['ID_MN_RESI', 'CS_SEXO', 'NU_IDADE_N', 'DT_INIC_TR', 'DT_NOTIFIC'],
}

In [7]:
df_conf.sort_values(by=['DT_NOTIFIC'], inplace=True)
df_conf = df_conf[df_conf['NDUPLIC_N'] != "2"]

aux_conf = process_duplicates(df_conf, cols_por_agravo)

aux_conf.drop(['TRATAMENTO', 'SITUA_ENCE', 'CLA_TIPO_N', 'NU_NOTIFIC', 'NDUPLIC_N', 'DT_INIC_TR'], axis=1, inplace=True)
aux_conf

<ipython-input-7-2472f169d1ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_conf.sort_values(by=['DT_NOTIFIC'], inplace=True)
c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

B551
numero de observaÃ§Ãµes prÃ©: 7369
Counter({1: 7349, 2: 10})
numero de observaÃ§Ãµes pÃ³s: 0
Counter()
B659
numero de observaÃ§Ãµes prÃ©: 15740
Counter({1: 15666, 2: 37})
numero de observaÃ§Ãµes pÃ³s: 0
Counter()
A169
numero de observaÃ§Ãµes prÃ©: 14609
Counter({1: 14573, 2: 18})
numero de observaÃ§Ãµes pÃ³s: 3610
Counter({1: 3602, 2: 4})

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,idade2,faixaetaria,ano,mes
0,B551,2013-01-02,NaN,2013,2013-01-02,4024.0,F,6.0,310620,310620,24.0,20a24,2013,1
1,B551,2013-01-02,NaN,2013,2012-11-02,4014.0,M,2.0,317000,317000,14.0,10a14,2013,1
2,B551,2013-01-03,NaN,2013,2012-10-10,4036.0,F,NaN,310660,310660,36.0,35a39,2013,1
3,B551,2013-01-03,NaN,2013,2012-12-28,4048.0,M,9.0,316860,316860,48.0,45a49,2013,1
4,B551,2013-01-03,NaN,2013,2012-12-12,4045.0,F,6.0,314330,314330,45.0,45a49,2013,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44467,A169,2021-01-11,NaN,2021,2020-01-08,4053.0,M,3.0,314840,314840,53.0,50a54,2021,1
44468,A169,2021-01-14,NaN,2021,2020-12-28,4069.0,M,NaN,310620,310620,69.0,65a69,2021,1
44469,A169,2021-01-15,NaN,2021,2020-12-23,4051.0,M,2.0,316960,316960,51.0,50a54,2021,1
44470,A169,2021-01-18,NaN,2021,2020-12-30,4024.0,M,5.0,310710,310710,24.0,20a24,2021,1
44471,A169,2021-01-18,NaN,2021,2020-11-18,4054.0,F,3.0,314810,314810,54.0,50a54,2021,1

In [8]:
df_sus = pd.read_csv("sinan_sus.csv")

df_sus

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,...,NDUPLIC_N,DT_INVEST,CLASSI_FIN,ENTRADA,TP_UNI_EXT,TRATAMENTO,idade2,faixaetaria,ano,mes
0,1,B571,2013-01-09,1954-03-01,2013.0,2013-01-09,4058.0,M,1.0,314710,...,NaN,2013-01-09,2.0,NaN,NaN,NaN,58.0,55a59,2013,1
1,2,B571,2013-04-22,1986-01-22,2013.0,2013-04-22,4027.0,M,6.0,312560,...,NaN,2013-04-22,2.0,NaN,NaN,NaN,27.0,25a29,2013,4
2,3,B571,2013-05-16,1977-10-04,2013.0,2013-05-13,4035.0,M,3.0,314710,...,NaN,2013-05-16,2.0,NaN,NaN,NaN,35.0,35a39,2013,5
3,4,B571,2013-01-08,NaN,2013.0,2013-01-08,4066.0,M,1.0,315600,...,NaN,2013-01-08,8.0,NaN,NaN,NaN,66.0,65a69,2013,1
4,5,B571,2013-11-01,1989-05-15,2013.0,2013-11-01,4024.0,F,8.0,316770,...,NaN,2013-11-01,8.0,NaN,NaN,NaN,24.0,20a24,2013,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2698994,2698995,Y09,2019-03-26,1990-05-31,2019.0,2019-03-26,4028.0,F,8.0,317130,...,NaN,NaN,NaN,NaN,NaN,NaN,28.0,25a29,2019,3
2698995,2698996,Y09,2019-03-26,1983-10-22,2019.0,2019-03-18,4035.0,F,NaN,314000,...,NaN,NaN,NaN,NaN,NaN,NaN,35.0,35a39,2019,3
2698996,2698997,Y09,2019-03-26,1991-07-20,2019.0,2019-03-23,4027.0,F,3.0,314000,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,25a29,2019,3
2698997,2698998,Y09,2019-03-26,1998-12-30,2019.0,2019-03-24,4020.0,F,2.0,313190,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,20a24,2019,3
2698998,2698999,Y09,2019-03-26,1976-01-11,2019.0,2019-03-24,4043.0,F,3.0,310620,...,NaN,NaN,NaN,NaN,NaN,NaN,43.0,40a44,2019,3

In [9]:
query = "   (ID_AGRAVO not in ['A959', 'A90', 'A91', 'A92', 'B550'] and CLASSI_FIN == 1)" + \
        "or (ID_AGRAVO == 'A959' and CLASSI_FIN in [1, 2])" + \
        "or (ID_AGRAVO in ['A90', 'A91', 'A92'] and CLASSI_FIN in [10, 11, 12, 13]) " + \
        "or (ID_AGRAVO == 'B550' and CLASSI_FIN == 1 and ENTRADA == 1)"

df_sus = df_sus.query(query)

df_sus.drop(['CLASSI_FIN', 'DT_INVEST', 'Unnamed: 0'], axis=1, inplace=True)

df_sus

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,NDUPLIC_N,ENTRADA,TP_UNI_EXT,TRATAMENTO,idade2,faixaetaria,ano,mes
1433,A90,2013-04-05,1939-04-04,2013.0,2013-04-03,4073.0,M,1.0,310090,293135,NaN,NaN,NaN,NaN,73.0,70a74,2013,4
2579,A90,2013-01-07,1954-06-09,2013.0,2012-12-31,4058.0,F,1.0,316930,316930,NaN,NaN,NaN,NaN,58.0,55a59,2013,1
3058,A90,2013-01-08,1971-11-05,2013.0,2013-01-06,4041.0,F,6.0,310090,310090,NaN,NaN,NaN,NaN,41.0,40a44,2013,1
4479,A90,2013-01-09,1990-05-15,2013.0,2013-01-06,4022.0,M,NaN,311300,311300,NaN,NaN,NaN,NaN,22.0,20a24,2013,1
11311,A90,2013-03-04,1965-09-05,2013.0,2013-03-04,4047.0,F,0.0,311300,311300,NaN,NaN,NaN,NaN,47.0,45a49,2013,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2636525,Y09,2018-06-17,2003-11-26,2018.0,2018-06-17,4014.0,F,3.0,310620,310620,NaN,NaN,NaN,NaN,14.0,10a14,2018,6
2640979,Y09,2018-02-22,2000-03-24,2018.0,2018-02-11,4017.0,F,5.0,310620,310620,NaN,NaN,NaN,NaN,17.0,15a19,2018,2
2643289,Y09,2018-01-02,2014-01-28,2018.0,2017-12-31,4003.0,M,10.0,315780,310620,NaN,NaN,NaN,NaN,3.0,0a4,2018,1
2643310,Y09,2018-07-10,1950-12-14,2018.0,2018-07-10,4067.0,M,3.0,310620,310620,NaN,NaN,NaN,NaN,67.0,65a69,2018,7
2647356,Y09,2018-01-04,1982-11-05,2018.0,2017-12-10,4035.0,F,6.0,310620,310620,NaN,NaN,NaN,NaN,35.0,35a39,2018,1

In [10]:
cols_por_agravo = {
    ('A90', 'A91', 'A92'): ['ID_MN_RESI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'DT_SIN_PRI', 'DT_NOTIFIC'],
    ('A279',): ['ID_MN_RESI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'DT_SIN_PRI', 'DT_NOTIFIC'],
    ('T659',): ['ID_MN_RESI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'DT_SIN_PRI', 'DT_NOTIFIC'],
    ('B54',): ['ID_MN_RESI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'DT_SIN_PRI', 'DT_NOTIFIC'],
    ('Y09',): ['ID_MN_RESI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'DT_SIN_PRI', 'DT_NOTIFIC'],
    ('B550',): ['ID_MN_RESI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'DT_SIN_PRI', 'DT_NOTIFIC'],
    ('A010',): ['ID_MN_RESI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'DT_SIN_PRI', 'DT_NOTIFIC']
}

In [11]:
df_sus.sort_values(by=['DT_NOTIFIC'], inplace=True)
df_sus = df_sus[df_sus['NDUPLIC_N'] != "2"]

aux_sus = process_duplicates(df_sus, cols_por_agravo)
aux_sus.drop(['ENTRADA', 'TP_UNI_EXT', 'TRATAMENTO', 'NDUPLIC_N'], axis=1, inplace=True)
aux_sus

<ipython-input-11-584c170d09d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sus.sort_values(by=['DT_NOTIFIC'], inplace=True)

A90
numero de observaÃ§Ãµes prÃ©: 644478

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Counter({1: 638890, 2: 2639, 3: 59, 4: 11, 8: 3, 6: 2, 12: 1, 9: 1, 14: 1, 11: 1, 7: 1})
numero de observaÃ§Ãµes pÃ³s: 406542
Counter({1: 401741, 2: 2343, 3: 37, 4: 1})
A91
numero de observaÃ§Ãµes prÃ©: 0
Counter()
numero de observaÃ§Ãµes pÃ³s: 0
Counter()
A92
numero de observaÃ§Ãµes prÃ©: 0
Counter()
numero de observaÃ§Ãµes pÃ³s: 0
Counter()
A279
numero de observaÃ§Ãµes prÃ©: 865
Counter({1: 863, 2: 1})
numero de observaÃ§Ãµes pÃ³s: 181
Counter({1: 179, 2: 1})
T659
numero de observaÃ§Ãµes prÃ©: 68633

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Counter({1: 68380, 2: 122, 3: 3})
numero de observaÃ§Ãµes pÃ³s: 14023
Counter({1: 13947, 2: 38})
B54
numero de observaÃ§Ãµes prÃ©: 373
Counter({1: 367, 4: 1, 2: 1})
numero de observaÃ§Ãµes pÃ³s: 64
Counter({1: 62, 2: 1})

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Y09
numero de observaÃ§Ãµes prÃ©: 45931
Counter({1: 45667, 2: 129, 3: 2})
numero de observaÃ§Ãµes pÃ³s: 0
Counter()
B550
numero de observaÃ§Ãµes prÃ©: 2788
Counter({1: 2788})
numero de observaÃ§Ãµes pÃ³s: 264
Counter({1: 264})

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

A010
numero de observaÃ§Ãµes prÃ©: 9
Counter({1: 9})
numero de observaÃ§Ãµes pÃ³s: 1
Counter({1: 1})

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,idade2,faixaetaria,ano,mes
0,A90,2013-01-03,1974-11-08,2013.0,2013-01-02,4038.0,F,9.0,310090,317120,38.0,35a39,2013,1
1,A90,2013-01-03,1997-07-19,2013.0,2013-01-03,4015.0,F,5.0,310090,310090,15.0,15a19,2013,1
2,A90,2013-01-05,1952-07-27,2013.0,2013-01-05,4060.0,F,9.0,314790,314790,60.0,60a64,2013,1
3,A90,2013-01-07,1954-06-09,2013.0,2012-12-31,4058.0,F,1.0,316930,316930,58.0,55a59,2013,1
4,A90,2013-01-07,1949-02-15,2013.0,2013-01-07,4063.0,F,9.0,310090,316860,63.0,60a64,2013,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178552,A010,2017-11-06,1990-02-05,2017.0,2017-10-30,4027.0,F,9.0,310620,310620,27.0,25a29,2017,11
1178553,A010,2018-02-20,NaN,2018.0,2018-02-17,4080.0,M,9.0,313760,310620,80.0,>=80anos,2018,2
1178554,A010,2018-04-03,NaN,2018.0,2018-03-29,4061.0,M,9.0,311230,310620,61.0,60a64,2018,4
1178555,A010,2018-04-04,NaN,2018.0,2018-03-30,4050.0,F,9.0,315570,310620,50.0,50a54,2018,4
1178556,A010,2019-02-26,NaN,2019.0,2019-02-16,4007.0,M,1.0,312770,312770,7.0,5a9,2019,2

In [12]:
df = aux_sus.append(aux_conf, ignore_index=True)

df

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,idade2,faixaetaria,ano,mes
0,A90,2013-01-03,1974-11-08,2013,2013-01-02,4038.0,F,9.0,310090,317120,38.0,35a39,2013,1
1,A90,2013-01-03,1997-07-19,2013,2013-01-03,4015.0,F,5.0,310090,310090,15.0,15a19,2013,1
2,A90,2013-01-05,1952-07-27,2013,2013-01-05,4060.0,F,9.0,314790,314790,60.0,60a64,2013,1
3,A90,2013-01-07,1954-06-09,2013,2012-12-31,4058.0,F,1.0,316930,316930,58.0,55a59,2013,1
4,A90,2013-01-07,1949-02-15,2013,2013-01-07,4063.0,F,9.0,310090,316860,63.0,60a64,2013,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223024,A169,2021-01-11,NaN,2021,2020-01-08,4053.0,M,3.0,314840,314840,53.0,50a54,2021,1
1223025,A169,2021-01-14,NaN,2021,2020-12-28,4069.0,M,NaN,310620,310620,69.0,65a69,2021,1
1223026,A169,2021-01-15,NaN,2021,2020-12-23,4051.0,M,2.0,316960,316960,51.0,50a54,2021,1
1223027,A169,2021-01-18,NaN,2021,2020-12-30,4024.0,M,5.0,310710,310710,24.0,20a24,2021,1
1223028,A169,2021-01-18,NaN,2021,2020-11-18,4054.0,F,3.0,314810,314810,54.0,50a54,2021,1

In [13]:
df[df['ID_AGRAVO'] == 'B659']

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,idade2,faixaetaria,ano,mes
1185916,B659,2013-01-02,1947-09-30,2013,2012-12-27,4065.0,M,NaN,316400,316400,65.0,65a69,2013,1
1185917,B659,2013-01-02,1982-11-10,2013,2012-11-23,4030.0,M,6.0,311760,311760,30.0,30a34,2013,1
1185918,B659,2013-01-02,1962-08-23,2013,2012-12-20,4050.0,F,NaN,311940,311940,50.0,50a54,2013,1
1185919,B659,2013-01-02,1979-08-03,2013,2012-12-25,4033.0,M,NaN,313090,313090,33.0,30a34,2013,1
1185920,B659,2013-01-03,NaN,2013,2012-12-04,4009.0,M,1.0,310620,310620,9.0,5a9,2013,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201614,B659,2017-12-28,1947-08-11,2017,2017-11-23,4070.0,F,2.0,313610,313610,70.0,70a74,2017,12
1201615,B659,2017-12-28,1995-12-20,2017,2015-06-15,4019.0,M,9.0,313760,310620,19.0,15a19,2017,12
1201616,B659,2017-12-28,1987-01-20,2017,2017-11-15,4030.0,F,8.0,315460,310620,30.0,30a34,2017,12
1201617,B659,2017-12-29,1942-12-01,2017,2017-11-10,4074.0,M,6.0,312310,313130,74.0,70a74,2017,12
1201618,B659,2017-12-29,1974-06-28,2017,2017-12-29,4043.0,M,6.0,310620,310620,43.0,40a44,2017,12

In [14]:
df = df[df['ano'] < 2020]

In [15]:
df.to_csv("sinan.csv", index=False)

In [16]:
df

,ID_AGRAVO,DT_NOTIFIC,DT_NASC,NU_ANO,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_ESCOL_N,ID_MN_RESI,ID_MUNICIP,idade2,faixaetaria,ano,mes
0,A90,2013-01-03,1974-11-08,2013,2013-01-02,4038.0,F,9.0,310090,317120,38.0,35a39,2013,1
1,A90,2013-01-03,1997-07-19,2013,2013-01-03,4015.0,F,5.0,310090,310090,15.0,15a19,2013,1
2,A90,2013-01-05,1952-07-27,2013,2013-01-05,4060.0,F,9.0,314790,314790,60.0,60a64,2013,1
3,A90,2013-01-07,1954-06-09,2013,2012-12-31,4058.0,F,1.0,316930,316930,58.0,55a59,2013,1
4,A90,2013-01-07,1949-02-15,2013,2013-01-07,4063.0,F,9.0,310090,316860,63.0,60a64,2013,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219811,A169,2019-12-30,NaN,2019,2019-12-30,4054.0,M,1.0,310420,310420,54.0,50a54,2019,12
1219812,A169,2019-12-30,NaN,2019,2019-05-25,4047.0,M,2.0,316370,316370,47.0,45a49,2019,12
1219813,A169,2019-12-30,NaN,2019,2019-12-30,4015.0,M,NaN,317070,317070,15.0,15a19,2019,12
1219814,A169,2019-12-30,NaN,2019,2019-12-30,4036.0,M,4.0,311840,312770,36.0,35a39,2019,12
1219815,A169,2019-12-31,NaN,2019,2019-12-31,4060.0,M,4.0,310200,310200,60.0,60a64,2019,12