In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sih.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,145.243282,284.900285,0.000000,1944.158315,1950.509972,0.000000,145.243282,284.900285,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13463995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
13463996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.000000,102.145046,221.985401,0.000000,209.500511,66.357001,0.000000,102.145046,3.0
13463997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
13463998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
13463999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['inter_total'] = df['inter_total'].astype('uint32')
df['inter_homem'] = df['inter_homem'].astype('uint32')
df['inter_mulher'] = df['inter_mulher'].astype('uint32')
df['taxa_inter_total'] = df['taxa_inter_total'].astype('float32')
df['taxa_inter_homem'] = df['taxa_inter_homem'].astype('float32')
df['taxa_inter_mulher'] = df['taxa_inter_mulher'].astype('float32')
df['inter_esp_total'] = df['inter_esp_total'].astype('float32')
df['inter_esp_homem'] = df['inter_esp_homem'].astype('float32')
df['inter_esp_mulher'] = df['inter_esp_mulher'].astype('float32')
df['grupo'] = df['grupo'].astype('uint8')
df['taxa_inter_esp_total'] = df['taxa_inter_esp_total'].astype('float32')
df['taxa_inter_esp_homem'] = df['taxa_inter_esp_homem'].astype('float32')
df['taxa_inter_esp_mulher'] = df['taxa_inter_esp_mulher'].astype('float32')

#df.to_hdf("pre_taxa_sih.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13464000 entries, 0 to 13463999
Data columns (total 25 columns):
 #   Column                 Dtype
---  ------                 -----
 0   municipio              object
 1   id_municipio           uint32
 2   ano                    uint16
 3   faixa_etaria           object
 4   pop_total              uint64
 5   pop_pad_total          uint64
 6   pop_homem              uint64
 7   pop_pad_homem          uint64
 8   pop_mulher             uint64
 9   pop_pad_mulher         uint64
 10  mes                    uint8
 11  agravo                 object
 12  inter_total            uint32
 13  inter_homem            uint32
 14  inter_mulher           uint32
 15  taxa_inter_total       float32
 16  taxa_inter_homem       float32
 17  taxa_inter_mulher      float32
 18  inter_esp_total        float32
 19  inter_esp_homem        float32
 20  inter_esp_mulher       float32
 21  taxa_inter_esp_total   float32
 22  taxa_inter_esp_homem   float32
 23  taxa_inter_esp_mulher  float32
 24  grupo                  uint8
dtypes: float32(9), object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 1.6+ GB

In [3]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'agravo'], as_index=False).sum()

In [4]:
#df_total_agravo = df.groupby(['id_municipio','agravo', 'ano', 'mes'], as_index=False)['inter_total'].sum()
df_total = df.groupby(['id_municipio', 'ano', 'mes'], as_index=False)['inter_total'].sum()

In [5]:
df_total.columns = ['id_municipio', 'ano', 'mes', 'total_inter_loc']
df_total

       id_municipio   ano  mes  total_inter_loc
0            310020  2010    1               41
1            310020  2010    2               19
2            310020  2010    3               33
3            310020  2010    4               37
4            310020  2010    5               32
...             ...   ...  ...              ...
11995        317120  2019    8              132
11996        317120  2019    9              158
11997        317120  2019   10              109
11998        317120  2019   11              125
11999        317120  2019   12               72

[12000 rows x 4 columns]

In [6]:
df_sf = df_sf.merge(df_total, on=['id_municipio', 'ano', 'mes'])
df_sf

,municipio,id_municipio,ano,mes,agravo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo,total_inter_loc
0,Abaeté,310020,2010,1,agressao,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41
1,Abaeté,310020,2010,1,amebiase,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41
2,Abaeté,310020,2010,1,ancilosto,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41
3,Abaeté,310020,2010,1,ascaridiase,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41
4,Abaeté,310020,2010,1,asma,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791995,Vespasiano,317120,2019,12,transtafetivos,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72
791996,Vespasiano,317120,2019,12,transtneuro,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72
791997,Vespasiano,317120,2019,12,tricuriose,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72
791998,Vespasiano,317120,2019,12,tubresp,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72
791999,Vespasiano,317120,2019,12,veneno,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72

In [7]:
df_sf['taxa_nova'] = np.nan
df_sf['taxa_nova'] = df_sf['inter_total']/df_sf['pop_total']
df_sf[df_sf['taxa_nova'] > 0]

,municipio,id_municipio,ano,mes,agravo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo,total_inter_loc,taxa_nova
6,Abaeté,310020,2010,1,bronquite,23107,19957444,11442,9828254,11665,...,367.647064,2103.757812,1382.757080,754.047791,465.652557,559.030640,367.647064,34,41,0.000130
14,Abaeté,310020,2010,1,dhipert,23107,19957444,11442,9828254,11665,...,423.728821,3022.073242,2233.225830,725.165283,448.891327,415.027649,423.728821,34,41,0.000173
15,Abaeté,310020,2010,1,diabetesm,23107,19957444,11442,9828254,11665,...,768.806091,5103.918945,2042.676758,3024.819580,763.139587,784.215576,768.806091,34,41,0.000303
17,Abaeté,310020,2010,1,doecv,23107,19957444,11442,9828254,11665,...,701.636902,3562.460693,1382.757080,2123.544922,646.074829,559.030640,701.636902,34,41,0.000216
18,Abaeté,310020,2010,1,doencviaaer,23107,19957444,11442,9828254,11665,...,367.647064,2103.757812,1382.757080,754.047791,465.652557,559.030640,367.647064,34,41,0.000130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791969,Vespasiano,317120,2019,12,infecpele,127601,19957444,61757,9828254,65844,...,34.103897,615.694946,325.860809,295.954895,52.215927,76.429001,34.103897,51,72,0.000031
791971,Vespasiano,317120,2019,12,insufrenal,127601,19957444,61757,9828254,65844,...,72.422920,1439.049561,999.383789,469.694519,142.703979,230.580444,72.422920,51,72,0.000071
791978,Vespasiano,317120,2019,12,outradoenresp,127601,19957444,61757,9828254,65844,...,78.997086,1588.647949,945.804321,640.584900,104.602272,127.940308,78.997086,51,72,0.000078
791982,Vespasiano,317120,2019,12,outraspele,127601,19957444,61757,9828254,65844,...,154.973618,944.213379,166.511353,762.356262,102.079018,37.216225,154.973618,51,72,0.000047
791993,Vespasiano,317120,2019,12,tmusopsico,127601,19957444,61757,9828254,65844,...,0.000000,158.595566,156.607697,0.000000,9.100838,17.799929,0.000000,51,72,0.000008

In [8]:
df_sf

,municipio,id_municipio,ano,mes,agravo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo,total_inter_loc,taxa_nova
0,Abaeté,310020,2010,1,agressao,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41,0.0
1,Abaeté,310020,2010,1,amebiase,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41,0.0
2,Abaeté,310020,2010,1,ancilosto,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41,0.0
3,Abaeté,310020,2010,1,ascaridiase,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41,0.0
4,Abaeté,310020,2010,1,asma,23107,19957444,11442,9828254,11665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34,41,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791995,Vespasiano,317120,2019,12,transtafetivos,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72,0.0
791996,Vespasiano,317120,2019,12,transtneuro,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72,0.0
791997,Vespasiano,317120,2019,12,tricuriose,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72,0.0
791998,Vespasiano,317120,2019,12,tubresp,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72,0.0
791999,Vespasiano,317120,2019,12,veneno,127601,19957444,61757,9828254,65844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51,72,0.0

In [9]:
df_sf['taxa_inter_total'] = (df_sf['inter_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_inter_homem'] = (df_sf['inter_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_inter_mulher'] = (df_sf['inter_mulher'] / df_sf['pop_mulher']) * 100000

df_sf['taxa_inter_esp_total'] = (df_sf['inter_esp_total'] / df_sf['pop_pad_total']) * 100000
df_sf['taxa_inter_esp_homem'] = (df_sf['inter_esp_homem'] / df_sf['pop_pad_homem']) * 100000
df_sf['taxa_inter_esp_mulher'] = (df_sf['inter_esp_mulher'] / df_sf['pop_pad_mulher']) * 100000

In [10]:
df_sf.to_csv('taxa_sih.csv', index=False)

In [11]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['inter_total'] = df_sf['inter_total'].astype('uint32')
df_sf['inter_homem'] = df_sf['inter_homem'].astype('uint32')
df_sf['inter_mulher'] = df_sf['inter_mulher'].astype('uint32')
df_sf['taxa_inter_total'] = df_sf['taxa_inter_total'].astype('float32')
df_sf['taxa_inter_homem'] = df_sf['taxa_inter_homem'].astype('float32')
df_sf['taxa_inter_mulher'] = df_sf['taxa_inter_mulher'].astype('float32')
df_sf['inter_esp_total'] = df_sf['inter_esp_total'].astype('float32')
df_sf['inter_esp_homem'] = df_sf['inter_esp_homem'].astype('float32')
df_sf['inter_esp_mulher'] = df_sf['inter_esp_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')
df_sf['taxa_inter_esp_total'] = df_sf['taxa_inter_esp_total'].astype('float32')
df_sf['taxa_inter_esp_homem'] = df_sf['taxa_inter_esp_homem'].astype('float32')
df_sf['taxa_inter_esp_mulher'] = df_sf['taxa_inter_esp_mulher'].astype('float32')

#df_sf.to_hdf('taxa_sih.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 792000 entries, 0 to 791999
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   municipio              792000 non-null  object
 1   id_municipio           792000 non-null  uint32
 2   ano                    792000 non-null  uint16
 3   mes                    792000 non-null  uint8
 4   agravo                 792000 non-null  object
 5   pop_total              792000 non-null  uint64
 6   pop_pad_total          792000 non-null  uint64
 7   pop_homem              792000 non-null  uint64
 8   pop_pad_homem          792000 non-null  uint64
 9   pop_mulher             792000 non-null  uint64
 10  pop_pad_mulher         792000 non-null  uint64
 11  inter_total            792000 non-null  uint32
 12  inter_homem            792000 non-null  uint32
 13  inter_mulher           792000 non-null  uint32
 14  taxa_inter_total       792000 non-null  float32
 15  taxa_inter_homem       792000 non-null  float32
 16  taxa_inter_mulher      792000 non-null  float32
 17  inter_esp_total        792000 non-null  float32
 18  inter_esp_homem        792000 non-null  float32
 19  inter_esp_mulher       792000 non-null  float32
 20  taxa_inter_esp_total   792000 non-null  float32
 21  taxa_inter_esp_homem   792000 non-null  float32
 22  taxa_inter_esp_mulher  792000 non-null  float32
 23  grupo                  792000 non-null  uint8
 24  total_inter_loc        792000 non-null  uint32
 25  taxa_nova              792000 non-null  float64
dtypes: float32(9), float64(1), object(2), uint16(1), uint32(5), uint64(6), uint8(2)
memory usage: 105.7+ MB

In [12]:
df_sf[df_sf['municipio'] == 'Brumadinho']

,municipio,id_municipio,ano,mes,agravo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo,total_inter_loc,taxa_nova
87120,Brumadinho,310900,2010,1,agressao,34597,19957444,17353,9828254,17244,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,30,0.0
87121,Brumadinho,310900,2010,1,amebiase,34597,19957444,17353,9828254,17244,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,30,0.0
87122,Brumadinho,310900,2010,1,ancilosto,34597,19957444,17353,9828254,17244,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,30,0.0
87123,Brumadinho,310900,2010,1,ascaridiase,34597,19957444,17353,9828254,17244,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,30,0.0
87124,Brumadinho,310900,2010,1,asma,34597,19957444,17353,9828254,17244,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95035,Brumadinho,310900,2019,12,transtafetivos,40103,19957444,20167,9828254,19936,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,38,0.0
95036,Brumadinho,310900,2019,12,transtneuro,40103,19957444,20167,9828254,19936,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,38,0.0
95037,Brumadinho,310900,2019,12,tricuriose,40103,19957444,20167,9828254,19936,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,38,0.0
95038,Brumadinho,310900,2019,12,tubresp,40103,19957444,20167,9828254,19936,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,38,0.0
95039,Brumadinho,310900,2019,12,veneno,40103,19957444,20167,9828254,19936,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,38,0.0