In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sim.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12851995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.0,102.145046,221.985401,0.0,209.500511,66.357001,0.0,102.145046,3.0
12851996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,3.0
12851997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,3.0
12851998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,3.0
12851999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,3.0

In [7]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'agravo', 'grupo'], as_index=False).sum()

In [8]:
df_sf['taxa_obitos_total'] = (df_sf['obitos_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_obitos_homem'] = (df_sf['obitos_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_obitos_mulher'] = (df_sf['obitos_mulher'] / df_sf['pop_mulher']) * 100000

df_sf['taxa_obitos_esp_total'] = (df_sf['obitos_esp_total'] / df_sf['pop_pad_total']) * 100000
df_sf['taxa_obitos_esp_homem'] = (df_sf['obitos_esp_homem'] / df_sf['pop_pad_homem']) * 100000
df_sf['taxa_obitos_esp_mulher'] = (df_sf['obitos_esp_mulher'] / df_sf['pop_pad_mulher']) * 100000

In [9]:
df_sf

,municipio,id_municipio,ano,mes,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,obitos_mulher,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher
0,Abaeté,310020,2010,1,amebiase,2.0,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
1,Abaeté,310020,2010,1,ancilosto,2.0,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
2,Abaeté,310020,2010,1,ascaridiase,2.0,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
3,Abaeté,310020,2010,1,asma,2.0,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
4,Abaeté,310020,2010,1,broncoeq,2.0,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755995,Vespasiano,317120,2019,12,transtafetivos,3.0,127601,19957444,61757,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
755996,Vespasiano,317120,2019,12,transtneuro,3.0,127601,19957444,61757,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
755997,Vespasiano,317120,2019,12,tricuriose,3.0,127601,19957444,61757,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
755998,Vespasiano,317120,2019,12,tubresp,3.0,127601,19957444,61757,9828254,...,0,0.783693,1.61925,0.0,150.860088,154.508295,0.0,0.755909,1.572083,0.0
755999,Vespasiano,317120,2019,12,veneno,3.0,127601,19957444,61757,9828254,...,0,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0

In [10]:
df_sf.to_csv('taxa_sim.csv', index=False)