In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sinan.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,mes,agravo,notificacoes_total,notificacoes_homem,notificacoes_mulher,grupo
0,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,esquisto,0,0,0,2.0
1,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,leishvisc,0,0,0,2.0
2,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,leishteg,0,0,0,2.0
3,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,tubresp,0,0,0,2.0
4,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,colera,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999195,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,intoxicacao,0,0,0,3.0
1999196,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,lepto,0,0,0,3.0
1999197,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,malaria,0,0,0,3.0
1999198,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,sindrome,0,0,0,3.0
1999199,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,homicidio,0,0,0,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['notificacoes_total'] = df['notificacoes_total'].astype('uint32')
df['notificacoes_homem'] = df['notificacoes_homem'].astype('uint32')
df['notificacoes_mulher'] = df['notificacoes_mulher'].astype('uint32')
df['grupo'] = df['grupo'].astype('uint8')

#df.to_hdf("pre_taxa_sih.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999200 entries, 0 to 1999199
Data columns (total 16 columns):
 #   Column               Dtype
---  ------               -----
 0   municipio            object
 1   id_municipio         uint32
 2   ano                  uint16
 3   faixa_etaria         object
 4   pop_total            uint64
 5   pop_pad_total        uint64
 6   pop_homem            uint64
 7   pop_pad_homem        uint64
 8   pop_mulher           uint64
 9   pop_pad_mulher       uint64
 10  mes                  uint8
 11  agravo               object
 12  notificacoes_total   uint32
 13  notificacoes_homem   uint32
 14  notificacoes_mulher  uint32
 15  grupo                uint8
dtypes: object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 175.4+ MB

In [3]:
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,mes,agravo,notificacoes_total,notificacoes_homem,notificacoes_mulher,grupo
0,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,esquisto,0,0,0,2
1,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,leishvisc,0,0,0,2
2,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,leishteg,0,0,0,2
3,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,tubresp,0,0,0,2
4,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,colera,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999195,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,intoxicacao,0,0,0,3
1999196,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,lepto,0,0,0,3
1999197,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,malaria,0,0,0,3
1999198,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,sindrome,0,0,0,3
1999199,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,homicidio,0,0,0,3

In [4]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'agravo', 'grupo'], as_index=False).sum()

In [5]:
df_sf['taxa_notific_total'] = (df_sf['notificacoes_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_notific_homem'] = (df_sf['notificacoes_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_notific_mulher'] = (df_sf['notificacoes_mulher'] / df_sf['pop_mulher']) * 100000

In [6]:
df_sf.to_csv('taxa_sinan.csv', index=False)

In [7]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['notificacoes_total'] = df_sf['notificacoes_total'].astype('uint32')
df_sf['notificacoes_homem'] = df_sf['notificacoes_homem'].astype('uint32')
df_sf['notificacoes_mulher'] = df_sf['notificacoes_mulher'].astype('uint32')
df_sf['taxa_notific_total'] = df_sf['taxa_notific_total'].astype('float32')
df_sf['taxa_notific_homem'] = df_sf['taxa_notific_homem'].astype('float32')
df_sf['taxa_notific_mulher'] = df_sf['taxa_notific_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')

#df_sf.to_hdf('taxa_sih.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117600 entries, 0 to 117599
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   municipio            117600 non-null  object
 1   id_municipio         117600 non-null  uint32
 2   ano                  117600 non-null  uint16
 3   mes                  117600 non-null  uint8
 4   agravo               117600 non-null  object
 5   grupo                117600 non-null  uint8
 6   pop_total            117600 non-null  uint64
 7   pop_pad_total        117600 non-null  uint64
 8   pop_homem            117600 non-null  uint64
 9   pop_pad_homem        117600 non-null  uint64
 10  pop_mulher           117600 non-null  uint64
 11  pop_pad_mulher       117600 non-null  uint64
 12  notificacoes_total   117600 non-null  uint32
 13  notificacoes_homem   117600 non-null  uint32
 14  notificacoes_mulher  117600 non-null  uint32
 15  taxa_notific_total   117600 non-null  float32
 16  taxa_notific_homem   117600 non-null  float32
 17  taxa_notific_mulher  117600 non-null  float32
dtypes: float32(3), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 11.7+ MB