In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sim.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14687995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
14687996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
14687997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,862.641009,2462.121212,1327.885598,2885.810219,3186.748106,2723.506639,862.641009,2462.121212,1327.885598,3.0
14687998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,862.641009,2462.121212,1327.885598,2885.810219,3186.748106,2723.506639,862.641009,2462.121212,1327.885598,3.0
14687999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['obitos_total'] = df['obitos_total'].astype('uint32')
df['obitos_homem'] = df['obitos_homem'].astype('uint32')
df['obitos_mulher'] = df['obitos_mulher'].astype('uint32')
df['taxa_obitos_total'] = df['taxa_obitos_total'].astype('float32')
df['taxa_obitos_homem'] = df['taxa_obitos_homem'].astype('float32')
df['taxa_obitos_mulher'] = df['taxa_obitos_mulher'].astype('float32')
df['obitos_esp_total'] = df['obitos_esp_total'].astype('float32')
df['obitos_esp_homem'] = df['obitos_esp_homem'].astype('float32')
df['obitos_esp_mulher'] = df['obitos_esp_mulher'].astype('float32')
df['grupo'] = df['grupo'].astype('uint8')
df['taxa_obitos_esp_total'] = df['taxa_obitos_esp_total'].astype('float32')
df['taxa_obitos_esp_homem'] = df['taxa_obitos_esp_homem'].astype('float32')
df['taxa_obitos_esp_mulher'] = df['taxa_obitos_esp_mulher'].astype('float32')

df.to_hdf("pre_taxa_sim.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14688000 entries, 0 to 14687999
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   municipio               object
 1   id_municipio            uint32
 2   ano                     uint16
 3   faixa_etaria            object
 4   pop_total               uint64
 5   pop_pad_total           uint64
 6   pop_homem               uint64
 7   pop_pad_homem           uint64
 8   pop_mulher              uint64
 9   pop_pad_mulher          uint64
 10  mes                     uint8
 11  agravo                  object
 12  obitos_total            uint32
 13  obitos_homem            uint32
 14  obitos_mulher           uint32
 15  taxa_obitos_total       float32
 16  taxa_obitos_homem       float32
 17  taxa_obitos_mulher      float32
 18  obitos_esp_total        float32
 19  obitos_esp_homem        float32
 20  obitos_esp_mulher       float32
 21  taxa_obitos_esp_total   float32
 22  taxa_obitos_esp_homem   float32
 23  taxa_obitos_esp_mulher  float32
 24  grupo                   uint8
dtypes: float32(9), object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 1.8+ GB

In [3]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'agravo', 'grupo'], as_index=False).sum()

In [4]:
df_sf['taxa_obitos_total'] = (df_sf['obitos_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_obitos_homem'] = (df_sf['obitos_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_obitos_mulher'] = (df_sf['obitos_mulher'] / df_sf['pop_mulher']) * 100000

df_sf['taxa_obitos_esp_total'] = (df_sf['obitos_esp_total'] / df_sf['pop_pad_total']) * 100000
df_sf['taxa_obitos_esp_homem'] = (df_sf['obitos_esp_homem'] / df_sf['pop_pad_homem']) * 100000
df_sf['taxa_obitos_esp_mulher'] = (df_sf['obitos_esp_mulher'] / df_sf['pop_pad_mulher']) * 100000

In [5]:
df_sf

,municipio,id_municipio,ano,mes,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,obitos_mulher,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher
0,Abaeté,310020,2010,1,acidente,2,23107,19957444,11442,9828254,...,1,4.327693,0.00000,8.572653,742.762939,0.000000,782.990356,3.721734,0.000000,7.730039
1,Abaeté,310020,2010,1,amebiase,2,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Abaeté,310020,2010,1,ancilosto,2,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Abaeté,310020,2010,1,ascaridiase,2,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Abaeté,310020,2010,1,asma,2,23107,19957444,11442,9828254,...,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863995,Vespasiano,317120,2019,12,transtafetivos,3,127601,19957444,61757,9828254,...,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
863996,Vespasiano,317120,2019,12,transtneuro,3,127601,19957444,61757,9828254,...,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
863997,Vespasiano,317120,2019,12,tricuriose,3,127601,19957444,61757,9828254,...,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
863998,Vespasiano,317120,2019,12,tubresp,3,127601,19957444,61757,9828254,...,0,0.783693,1.61925,0.000000,150.860092,154.508301,0.000000,0.755909,1.572083,0.000000
863999,Vespasiano,317120,2019,12,veneno,3,127601,19957444,61757,9828254,...,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
df_sf.columns

Index(['municipio', 'id_municipio', 'ano', 'mes', 'agravo', 'grupo',
       'pop_total', 'pop_pad_total', 'pop_homem', 'pop_pad_homem',
       'pop_mulher', 'pop_pad_mulher', 'obitos_total', 'obitos_homem',
       'obitos_mulher', 'taxa_obitos_total', 'taxa_obitos_homem',
       'taxa_obitos_mulher', 'obitos_esp_total', 'obitos_esp_homem',
       'obitos_esp_mulher', 'taxa_obitos_esp_total', 'taxa_obitos_esp_homem',
       'taxa_obitos_esp_mulher'],
      dtype='object')

In [7]:
df_sf.to_csv('taxa_sim.csv', index=False)

In [8]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['obitos_total'] = df_sf['obitos_total'].astype('uint32')
df_sf['obitos_homem'] = df_sf['obitos_homem'].astype('uint32')
df_sf['obitos_mulher'] = df_sf['obitos_mulher'].astype('uint32')
df_sf['taxa_obitos_total'] = df_sf['taxa_obitos_total'].astype('float32')
df_sf['taxa_obitos_homem'] = df_sf['taxa_obitos_homem'].astype('float32')
df_sf['taxa_obitos_mulher'] = df_sf['taxa_obitos_mulher'].astype('float32')
df_sf['obitos_esp_total'] = df_sf['obitos_esp_total'].astype('float32')
df_sf['obitos_esp_homem'] = df_sf['obitos_esp_homem'].astype('float32')
df_sf['obitos_esp_mulher'] = df_sf['obitos_esp_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')
df_sf['taxa_obitos_esp_total'] = df_sf['taxa_obitos_esp_total'].astype('float32')
df_sf['taxa_obitos_esp_homem'] = df_sf['taxa_obitos_esp_homem'].astype('float32')
df_sf['taxa_obitos_esp_mulher'] = df_sf['taxa_obitos_esp_mulher'].astype('float32')

df_sf.to_hdf('taxa_sim.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864000 entries, 0 to 863999
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   municipio               864000 non-null  object
 1   id_municipio            864000 non-null  uint32
 2   ano                     864000 non-null  uint16
 3   mes                     864000 non-null  uint8
 4   agravo                  864000 non-null  object
 5   grupo                   864000 non-null  uint8
 6   pop_total               864000 non-null  uint64
 7   pop_pad_total           864000 non-null  uint64
 8   pop_homem               864000 non-null  uint64
 9   pop_pad_homem           864000 non-null  uint64
 10  pop_mulher              864000 non-null  uint64
 11  pop_pad_mulher          864000 non-null  uint64
 12  obitos_total            864000 non-null  uint32
 13  obitos_homem            864000 non-null  uint32
 14  obitos_mulher           864000 non-null  uint32
 15  taxa_obitos_total       864000 non-null  float32
 16  taxa_obitos_homem       864000 non-null  float32
 17  taxa_obitos_mulher      864000 non-null  float32
 18  obitos_esp_total        864000 non-null  float32
 19  obitos_esp_homem        864000 non-null  float32
 20  obitos_esp_mulher       864000 non-null  float32
 21  taxa_obitos_esp_total   864000 non-null  float32
 22  taxa_obitos_esp_homem   864000 non-null  float32
 23  taxa_obitos_esp_mulher  864000 non-null  float32
dtypes: float32(9), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 105.5+ MB

In [9]:
df_sf[df_sf['municipio'] == 'Brumadinho']

,municipio,id_municipio,ano,mes,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,obitos_mulher,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher
95040,Brumadinho,310900,2010,1,acidente,1,34597,19957444,17353,9828254,...,0,5.780848,11.525385,0.0,1191.23645,1183.063965,0.0,5.968883,12.037376,0.0
95041,Brumadinho,310900,2010,1,amebiase,1,34597,19957444,17353,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0
95042,Brumadinho,310900,2010,1,ancilosto,1,34597,19957444,17353,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0
95043,Brumadinho,310900,2010,1,ascaridiase,1,34597,19957444,17353,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0
95044,Brumadinho,310900,2010,1,asma,1,34597,19957444,17353,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103675,Brumadinho,310900,2019,12,transtafetivos,1,40103,19957444,20167,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0
103676,Brumadinho,310900,2019,12,transtneuro,1,40103,19957444,20167,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0
103677,Brumadinho,310900,2019,12,tricuriose,1,40103,19957444,20167,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0
103678,Brumadinho,310900,2019,12,tubresp,1,40103,19957444,20167,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0
103679,Brumadinho,310900,2019,12,veneno,1,40103,19957444,20167,9828254,...,0,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000,0.0